.runner-button-container {
    border-bottom: 2px solid #eee;
}

button.runner-button {
    background: none;
    border: 2px solid #eee;
    border-bottom: none;
    color: #888;
    outline: none;

    &:hover {
        color: #444;
        border-color: #eee;
        background: #eee;
    }

    &:focus {
        border-color: #eee;
        box-shadow: none !important;
        color: #444;
    }
}