.UnitTest {
    box-shadow: 0px 0px 2px #aaa;
    margin-bottom: 30px;
    border-radius: 10px;

    & .test-header {
        padding: 10px;
        background: #eee;
        font-weight: 500;
        margin-bottom: 0px !important;
        & .heading { margin-bottom: 0px; }
    }

    & .test-body {
        transition: opacity 0.25s;
    }
    &.processing .test-body {
        opacity: 0.4;
    }

    & .buttons-bar {
        & button {
            font-size: 0.8em;
            display: inline-block;
            border: none;
            outline: none;
            border-radius: 20px;
            margin-right: 20px;

            &:focus {
                box-shadow: none;
            }

            & span { display: none; }
        }
    }

    & .validation-checks {
        display: flex;
        justify-content: space-around;
        align-items: center;

        & > .validation-text {
            background: #eee;
            padding: 10px 20px;
            font-size: 0.8em;
            font-weight: 500;
            border-right: 2px solid #ededed;
            border-bottom-left-radius: 10px;
        }

        & > .field {
            margin-bottom: 0px;
            flex: 1 0 auto;
            text-align: center;

            & > label {
                font-size: 0.8em;
            }

            transition: opacity 0.25s;
            &.disabled {
                opacity: 0.5;
            }
        }
    }

    &.filler {
        & button {
            width: 100%;

            & i { margin-right: 10px; }
        }
    }
}