.Utterance {
    padding: 15px;
    letter-spacing: 1px;
    border-bottom: 2px solid #eee;

    & .slot {
        background-color: #209cee;
        padding: 0.3em 7px;
        border-radius: 5px;
        color: white;
    }
}