@import "~bulma";
@import "~bulma-switch/switch";
@import "~bulma-tooltip/tooltip";

button {
    transition: all 0.25s;

    &[disabled] {
        pointer-events: none;
    }

    &.validate-button {
        background: none !important;
        color: inherit;
        border: none;
        padding: 0! important;
        font: inherit;
        cursor: pointer;
        outline: inherit !important;

        font-size: 0.8em;
        margin: 0px 10px;
        border: 1px solid;
        border-radius: 50px;
        width: 2em;
        height: 2em;
        border-color: #ddd;
        color: #ddd;

        transition: all 0.25s;

        &.check-button {
            &:hover, &.selected {
                border-color: #23d160;
                color: #23d160;
            }
        }

        &.cross-button {
            &:hover, &.selected {
                border-color: #ff3860;
                color: #ff3860;
            }
        }

        &[disabled] {
            border-color: #ddd !important;
            color: #ddd !important;
        }
    }
}

.switch[type="checkbox"][disabled] + label {
    pointer-events: none
}

.force-centering {
    display: flex;
    justify-content: center;
}